## Ejercicio 1: Transformar cadenas

In [67]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \n", "On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [68]:
# divir el texto en cada oración para trabajar con su contenido
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\n", "On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [69]:
# definir las palabras pista: average, temperature y distance para saber si se encuentran en el texti

palabras = ["average","temperature","distance"]

for t in text_parts:
    for palabra in palabras:
        if palabra in t:
            print(t)
            break

", "On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [70]:
# for para cambia C a Celsius

for t in text_parts:
    for palabra in palabras:
        if palabra in t:
            print(t.replace('C', 'Celsius'))
            break

", "On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2: Formateando Cadenas

In [71]:
#Datos

name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [72]:
#Título
title = f'datos de gravedad sobre {nombre}'

In [73]:
#Plantilla

hechos = f"""{'-'*80}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000} m/s
"""

In [74]:
template = f"""{title.title()}
{hechos}
"""
print(template)

Datos De Gravedad Sobre Ganímedes
--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s

In [75]:
new_template = f"""
Datos de Gravedad sobre: {name}
{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity * 1000} m/s
"""

print(new_template.format(name=name, planet=planet, gravity=gravity))

Datos de Gravedad sobre: Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s